body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/drawing.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #00B7FF;
}

img {
    /* margin: 0 auto; */
    text-align: center;
    background-size: cover;
    width: 100%;
    /* width: 100%; */
    height: 250px;
}

h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0px auto;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0px auto;
    width: 50%;
}

li:last-child {
    border: none;
}

li {
    border-radius: 100px;
    text-decoration: none;
    color: #000;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
}

li:hover {
    /* font-size: 30px; */
    background: #f6f6f6;
}

table {
    width: 100%;
    text-align: center;
}

tr,
td,
th,
li,
ul {
    text-align: center;
}

.highlight {
    background-color: #E9B892;
}

#playerlistDiv {
    display: none;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    margin: 10px auto;
    border: 4px solid #165E8D;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 50px;
    text-align: center;
    background: none;
    color: #165E8D;
    text-transform: uppercase;
    font-weight: bold;
}

.start-game {
    display: inline-block;
    animation: startit 2.2s ease-in-out infinite;
    font-size: 24px;
}

button:hover {
    background: #165E8D;
    color: white;
}

@keyframes startit {
    0% {
        padding: 8px;
    }
    50% {
        padding: 14px;
    }
    100% {
        padding: 8px;
    }
}

a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

h1,
p {
    text-align: center;
}

#nameDiv {
    display: none;
}