.login {
    width: 340px;
    background-color: lightblue;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
    /* top: 150px; */
    margin-left: -170px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.login h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    margin: 0 0 15px;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
}

.login fieldset {
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}

.login fieldset input {
    outline: none;
    width: 300px;
    height: 12px;
    display: block;
    background: #73a4f4;
    border: 1px solid #0d6b42;
    margin: 0;
    padding: 13px 15px;
    font-size: 13px;
}

.login fieldset input:focus,
.login fieldset input:active {
    background-color: #1ea167;
}

.login fieldset input:nth-child(1) {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}

.login fieldset input:nth-child(2) {
    position: relative;
    top: -1px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

.login fieldset ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.login input[type="submit"] {
    margin: 0;
    display: block;
    padding: 13px 0;
    width: 335px;
    font-size: 13px;
    font-weight: bold;
    border: 0;
    text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
    background-color: slateblue;
    background-image: -webkit-linear-gradient(90deg, slateblue, slateblue);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.login:before,
.login:after {
    z-index: -1;
    position: absolute;
    content: "";
    left: 5px;
    width: 53%;
    top: 15px;
    height: 80%;
    bottom: 80%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: -10px -15px 20px rgba(0, 0, 0, 0.2);
}

.login:after {
    box-shadow: 10px -15px 20px rgba(0, 0, 0, 0.2) !important;
    right: 5px;
    left: auto;
}