extends layout

block content
  img(src='/images/battleships-header.jpg')
  div(id='nameDiv')
    h2(id='name')
  div(id='greeting' class="login")
    h2 Log In
    fieldset
      input(type="text",id="username", name="username", placeholder="enter username")
    input(id="submitNewUser" type="submit", value='submit')
  div(id='playerlistDiv')
    table
      tr
        th
          h2 Players list
        th
          h2 Player Status
      tr
        td
          ul#playerList
        td
          ul#playerStatus
    button(class='start-game' id="selectInput" type="button", value='Play') Start Game
  canvas(id="canvas" width="100%" height="500")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/clientCM.js")
  script(src="/javascripts/boardDrawer.js")
  script(src="/javascripts/clientGameLogics.js")
  script(src="/javascripts/clientMCLogics.js")